.nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}